@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.productCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  border: 1px solid $color_elements;

}

.productImage {
  display: flex;
  justify-content: center;
  height: 130px;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    height: 202px;
  }
}

.title {
  color: $color_primary;
  padding-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 58px;

  @include hover(color, $color_red);
}

.prices {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newPrice {
  color: $color_primary;
}

.oldPrice {
  position: relative;
  color: $color_secondary;
  font-family: Mont, serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1.5px;
    background: currentColor;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 8px;
}

.detailsInfo {
  display: flex;
  justify-content: space-between;
}

.detailTitle {
  color: $color_secondary;
}

.detailText {
  color: $color_primary;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;

  & button:first-child {
    flex: 4;
  }

  & button:last-child {
    flex: 1;
  }
}

.horizontalLine {
  content: '';
  width: 100%;
  border-bottom: 1px solid $color_elements;
}