@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  opacity: 0;
  background: #000000b2;

  transition: opacity $animation_speed ease;
  pointer-events: none;

  &Active {
    top: 49px;
    opacity: 1;
    pointer-events: all;
    width: 100vw;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: $color_white;
  transform: translateX(-100%);
  transition: transform $animation_speed ease;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Active {
    transform: translateX(0);
    width: 100vw;
    height: calc(100vh - 49px);
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 64px;
  box-sizing: border-box;
}

.button {
  width: 50%;
  border: 1px solid $color_elements;
}
