@import "styles/variables";
@import "styles/mixins";
@import "styles/typography";
@import 'styles/fonts';
@import 'styles/container';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
  margin: 0;

}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
