@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.bigSlider {
  position: relative;
  padding-bottom: 18px;
  box-sizing: unset;
  height: 100vw;
  margin-bottom: 56px;


  @include on-tablet {
    height: 189px;
    padding-inline: 75px;
    margin-bottom: 64px;
  }

  @include on-desktop {
    height: 400px;
    padding-inline: calc((100vw - 1040px) / 2);
    margin-bottom: 80px;
  }

  :global(.swiper-pagination-bullet) {
    width: 14px;
    height: 4px;
    background: $color_secondary;
    border-radius: 0;
  }

  :global(.swiper-pagination-bullet-active) {
    width: 14px;
    height: 4px;
    background: $color_primary;
    border-radius: 0;
  }

  :global(.swiper-pagination) {
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  :global(.swiper-slide) {
    height: 100%;
    width: 100%;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.button {
  display: none;

  @include on-tablet {
    z-index: 2;
    position: absolute;
    display: block;
    background-color: transparent;
    pointer-events: all;
    border: none;
    height: 189px;
    width: 32px;
    padding: 0;
    cursor: pointer;
  }

  @include on-desktop {
    height: 400px;
  }

  &Prev {
    left: 24px;

    @include on-desktop {
      left: calc((100vw - 1136px) / 2);
    }
  }

  &Next {
    right: 24px;

    @include on-desktop {
      right: calc((100vw - 1136px) / 2);
    }
  }
}
